# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/*

# Build directory
build/*

# User-Specific config file
output/config.yaml

# Source / output data
.dropbox
*.png
*.jpeg
*.tiff

*.*[0-9]
*.gwy
*.txt
*.rtf
*.json
*.npy
*.csv
*.spm

# Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Example Data
!minicircle.spm

# IDE
.vscode/
.idea/
*~

# Documentation
_build/

# MacOS
.DS_Store

# vscode develop in container settings
!.devcontainer/devcontainer.json

# log files
*.log

# Tests and docs
.coverage
.testmondata

# Ignore topostats/_version.py as per setuptools_scm
topostats/_version.py

# default output directory, often common from testing
output/

# Debugging
pytest-debug.ini