# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/*

# User-Specific config file
config.ini

# Logs
.log

# Source / output data
.dropbox
*.png
*.jpeg
*.tiff

*.*[0-9]
*.gwy
*.txt
*.rtf
*.json
*.npy
*.csv

*.log

# IDE
.vscode/
.idea/

# Documentation 
_build/

# MacOS
.DS_Store