[build-system]
requires = [
  "setuptools>=45",
  "setuptools_scm[toml]>=6.2",
  "wheel"
  ]
build-backend = "setuptools.build_meta"

[project]
name = "topostats"
description = "Automated Analysis for Atomic Force Microscopy Images of Biomolecules"
readme = "README.md"
license = {text = "GNU Lesser GPLv3 only"}
dynamic = ["version"]
authors = [
  {name = "TopoStats Team", email = "topostats@sheffield.ac.uk"},
  {name = "Alice Pyne", email = "a.l.pyne@sheffield.ac.uk"},
  {name = "Sylvia Whittle", email = "sylvia.whittle@sheffield.ac.uk"},
  {name = "Neil Shephard", email = "n.shephard@sheffield.ac.uk"},
  {name = "Max Gamill", email = "mcgamill1@sheffield.ac.uk"},
  {name = "Jean Du", email = "mdu12@sheffield.ac.uk"},
]
classifiers = [
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
]
keywords = [
  "afm",
  "image processing"
]
requires-python = ">=3.8"
dependencies = [
  "igor",
  "matplotlib",
  "numpy==1.23.4",
  "pandas",
  "pySPM",
  "pyyaml",
  "ruamel.yaml",
  "schema",
  "scikit-image",
  "scipy",
  "seaborn",
  "tifffile",
  "tqdm",
  "pyfiglet",
  "h5py"
]

[project.optional-dependencies]
tests = [
  "py",
  "pytest",
  "pytest-cov",
  "pytest-lazy-fixture",
  "pytest-mpl",
  "pytest-regtest",
  "filetype",
]
docs = [
  "Sphinx",
  "myst_parser",
  "numpydoc",
  "pydata_sphinx_theme",
  "sphinx-autoapi",
  "sphinx-autodoc-typehints",
  "sphinx-multiversion",
  "sphinx_markdown_tables",
  "sphinx_rtd_theme",
  "sphinxcontrib-mermaid",
  "sphinxcontrib-napoleon",
]
dev = [
  "Flake8-pyproject",
  "black",
  "flake8",
  "flake8-print",
  "pre-commit",
  "pylint",
  "pyupgrade",
  "pytest-durations",
  "pytest-xdist",
]
pypi = [
  "build",
  "wheel",
  "setuptools_scm[toml]"
]
notebooks = [
  "ipython",
  "ipywidgets",
  "jupyter_contrib_nbextensions",
  "jupyterthemes",
]

[project.urls]
Source = "https://github.com/AFM-SPM/TopoStats"
Bug_Tracker = "https://github.com/AFM-SPM/TopoStats/issues"
Documentation = "https://AFM-SPM.github.io/TopoStats"


[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]
include = ["topostats"]
exclude = ["tests"]
namespaces = false

[tool.setuptools.package-data]
topostats = ["*.yaml"]

[tool.setuptools_scm]
write_to = "topostats/_version.py"


[tool.pytest.ini_options]
minversion = "7.0"
addopts = "--cov --mpl"
testpaths = [
    "tests",
]
filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::PendingDeprecationWarning",
    "ignore::UserWarning"
]

[tool.coverage.run]
source = ["topostats"]
omit = [
  "topostats/_version.py",
  "*tests*",
  "**/__init__*",
]

[tool.black]
line-length = 120
target-version = ['py38']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.venv
  )/
)
'''

[tool.ruff]
exclude = [
  "*.ipynb",
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pycache__",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "docs/conf.py",
  "node_modules",
  "pygwytracing.py",
  "tests/tracing/test_dnacurvature.py",
  "tests/tracing/test_dnatracing.py",
  "tests/tracing/test_tracing_dna.py",
  "topostats/plotting.py",
  "topostats/tracing/dnatracing.py",
  "topostats/tracing/tracing_dna.py",
  "topostats/tracing/tracingfuncs.py",
  "venv",
]
# per-file-ignores = []
line-length = 120
target-version = "py310"
select = ["A", "B", "C", "D", "E", "F", "PT", "PTH", "R", "S", "W", "U"]
ignore = [
  "B905",
  "E501",
  "S101",
  "T201"]
# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "D", "E", "F", "PT", "PTH", "R", "S", "W", "U"]
unfixable = []

[tool.ruff.flake8-quotes]
docstring-quotes = "double"

[tool.ruff.isort]
case-sensitive = true

[tool.ruff.pydocstyle]
convention = "numpy"

[tool.ruff.flake8-pytest-style]
fixture-parentheses = true

[project.scripts]
topostats = "topostats.entry_point:entry_point"
run_topostats = "topostats.entry_point:legacy_run_topostats_entry_point"
toposum = "topostats.entry_point:legacy_toposum_entry_point"
