output_dir: ./output/summary_distributions
csv_file: ./all_statistics.csv
file_ext: png
pickle_plots: True
var_to_label: null # Optional YAML file that maps variable names to labels, uses topostats/var_to_label.yaml if null
molecule_id: molecule_number
image_id: image
# If both hist and kde are True they are plotted on the same graph, if you only want one you MUST set the other to False
kde: True
hist: True
bins: 20
stat: count # Aggregate statistic to compute in each bin. Options: count (default), frequency, probability, percent, density
violin: True
figsize:
  - 16
  - 9
alpha: 0.5
palette: bright # Seaborn color palette. Options : colorblind, deep, muted, pastel, bright, dark, Spectral, Set2
stats_to_sum:  # A list of variables (key) to plot uncomment those that are required.
  - area
  - area_cartesian_bbox
#  - aspect_ratio
#  - bending_angle
  - contour_lengths
  - end_to_end_distance
#  - height_max
#  - height_mean
#  - height_median
#  - height_min
#  - max_feret
#  - min_feret
#  - radius_max
#  - radius_mean
#  - radius_median
#  - radius_min
#  - smallest_bounding_area
#  - smallest_bounding_length
#  - smallest_bounding_width
  - volume
