# Source : https://github.com/marketplace/actions/sphinx-docs-to-github-pages
name: Sphinx docs to gh-pages

on:
  pull_request:
    branches:
      - main
    # Uncomment if only tagged releases are to have documentation built
    # tags:
    #   - v*
  workflow_dispatch: # Uncomment line if you also want to trigger action manually

jobs:
  sphinx_docs_to_gh-pages:
    runs-on: ubuntu-latest
    name: Sphinx docs to gh-pages
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Installing the Documentation requirements
        run: |
          pip3 install .[docs]
      - name: Running Sphinx to gh-pages Action
        # Uncomment if only tagged releases are to have documentation built
        # if: startsWith(github.ref, 'refs/tags')
        uses: ns-rse/action-sphinx-docs-to-gh-pages@main
        with:
          # When testing set this branch to your branch, when working switch to main. It WILL fail if not
          # defined as it defaults to 'main'.
          branch: main
          dir_docs: docs
          sphinx-apidoc-exclude: "../*setup* ../*tests* ../*.ipynb ../demo.py ../make_baseline.py ../jupyter_notebook_config.py ../demo_ftrs.py"
          sphinx-apidoc-opts: "--separate -o . ../"
          sphinx-opts: ""
          multiversion: true
          multiversionopts: ""
